@model DevDefined.OAuth.Framework.IToken
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Etsy - Auth Result</title>
</head>
<body>
    <p>Token: @Model.Token</p>
    <p>Secret Token: @Model.TokenSecret</p>
</body>
</html>
